* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  background-color: lightblue;
  padding: 10px;
  display: block;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
  position: relative;
  background: yellow;
}

.bg_green {
  background: green;
}


.box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#box-wrapper::after {
  display: table;
  content: "";
  clear: both;
}

#erase {
  display: none;
}
